* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
}

main {
    margin: 5px;
    display: flex;
    justify-content: center;
}

button {
    margin: 20px 0px 10px 0px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}

button:hover {
    color: black;
    cursor: pointer;
}

.highscores {
    display: flex;
    padding: 5px;
}

.timer {
    display: flex;
    align-items: center;
    padding: 5px;
}

.quiz {
    width: 50%;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.question {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.choices {
    display: flex;
    margin: 25px 0px 0px 0px;
    text-align: center;
}
